header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    position: sticky;
    background-color: #C4AD96;
    top: 0;
    z-index: 10;
}

header img {
    width: 165px;
}

header h1 {
    font-size: 34px;
    color: goldenrod;
    margin: 0;
}

header {
    top: 0;
    z-index: 99;
    background: #C4AD96;
    box-shadow: none;
    transition: background 0.8s ease, box-shadow 0.8s ease;
}

header.sticky {
    position: fixed;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Toggle Button */
.menu-toggle {
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 50px;
    font-weight: 400;
    color: #987A5C;
}

.quiz-btn {
  margin: 0 auto;
  background: #D7B547;
  color: #000000 !important;
  padding: 8px 20px !important;
  border-radius: 30px;
  display: inline-block;
  width: auto;
}

@media (max-width: 425px) {
    .menu-toggle {
        font-size: 40px;
    }

    header img {
        width: 130px;
    }
}

/* Sidebar Menu */
.side-menu {
    position: fixed;
    text-align: center;
    z-index: 9;
    top: 1;
    right: -900px;
    width: 300px;
    height: auto;
    background: #222;
    padding: 60px 20px;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px 0px 0px 20px;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    text-decoration: none;
    color: #D7B547;
    font-family: "Marcellus", serif;
    font-size: 22px;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #fff;
}

.quiz-btn {
    margin-top: auto;
    background: #D7B547;
    color: #000000 !important;
    padding: 12px 18px;
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
}

.lato-font {
    font-family: "Lato", sans-serif !important;
    font-weight: 400;
}



/* Footer */
.footer-wrapper {
    min-height: auto;
    padding-top: 60px;
    position: relative;
}

.footer-wrapper {
    padding-top: 60px;
}

.footer-section-gradient {
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 150%;
}

p {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1.5;
}

.p-large {
  margin-top: 0;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.4;
}

.p-medium {
  font-size: 17px;
  font-weight: 400;
}

.p-medium.medium {
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }
  .p-large {
    font-size: 1.5em;
  }
  .p-large {
    font-size: 1.1em;
  }
}





@media (max-width: 768px) {

    .hero-section-gradient,
    .second-section-gradient,
    .third-section-gradient,
    .footer-section-gradient,
    .slider-section-gradient {
        background-image: none !important;
        background-color: white;
    }
}

.center-image {
    z-index: 8;
    background-color: #cec7c7;
    background-image: url(assets/Static-montage/RAW/group-women-exercising-reformer.png);
    background-position: 50%;
    background-size: 120vw;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.center-image {
    background-size: auto 100vh;
}

.center-image {
    border-radius: 12px;
    width: 80vw;
}

.inner-heading-s {
    z-index: 6;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.inner-heading-s.w {
    width: 100%;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.p-regular.text-white.full,
.p-regular.text-white-80.full {
    opacity: 100;
}

.h-xl.text-white-80 {
    color: #ffffffb3;
}

.text-white-80 {
    max-width: 70%;
    color: #fff;
}

/* Button */
.btn-brown {
    display: inline-block;
    background-color: #D7B547;
    color: #282424;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    padding: 14px 30px;
    letter-spacing: 1px;
}

@media (max-width: 375px) {
    .hero-track .btn-brown {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.button {
    z-index: 5;
    background-color: var(--dark-gray);
    color: var(--gray-30);
    text-align: center;
    white-space: nowrap;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    transition: box-shadow .2s, transform .2s;
    display: flex;
    position: relative;
}

.button:hover {
    transform: translate(0, -1px);
    box-shadow: 0 2px 20px #0003;
}

.button.outline {
    color: #00000080;
    background-color: #0000;
    border: 1px solid #b3b3b34d;
}

.button.outline:hover {
    border-color: #b3b3b3cc;
}

.button.color-blue {
    background-color: var(--mid-green);
    color: var(--font-colour);
}

.button.color-blue:hover {
    box-shadow: 0 2px 20px #46572c33;
}

.button.bg-white {
    color: #000;
    background-color: #fff;
}

.button.bg-white:hover {
    box-shadow: 0 2px 20px #fff3;
}

.button-circle {
    background-color: #ff715b;
    border-radius: 100%;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 7em;
    height: 7em;
    display: flex;
    overflow: hidden;
}

.button-circle:hover {
    background-color: #fcb55e;
}

.button-hover-fill {
    background-color: #000;
    border-radius: 100%;
    width: 5em;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    inset: 100% 0% auto;
}

.button-regular {
    background-color: var(--dark-gray);
    color: var(--gray-30);
    border-radius: 200px;
    padding: 18px 32px;
    text-decoration: none;
}

.button-regular:hover {
    background-color: var(--dim-grey);
}

.button-nav {
    background-color: var(--font-colour);
    color: var(--white-main);
    border-radius: 100px;
    padding: 10px 18px;
    font-size: 15px;
    text-decoration: none;
}

.button-green {
    color: #415326;
    background-color: #d2f0a3;
    border-radius: 100px;
    flex: none;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
}

.button-green:hover {
    background-color: #cce2a3;
}

.button-green.f {
    width: 100%;
}

.button-cta {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    color: var(--gray-100);
    text-align: left;
    background-color: #29292980;
    border-radius: 200px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding: 38px 42px;
    display: flex;
}

.button-icon {
    background-color: #d2f0a3;
    border-radius: 200px;
    flex: none;
    width: 50px;
    height: 50px;
}

.button-outline {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    border: 1px solid var(--gray-400);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
    text-decoration: none;
    display: flex;
}

.button-outline:hover {
    background-color: var(--gray-30);
}

.button-wrapper {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    min-width: 200px;
    display: flex;
}

.button-2 {
    z-index: 120;
    border: 1px solid var(--gray-200);
    color: #0a0a0a;
    background-color: #fcfcfc;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 12px 24px;
    font-weight: 600;
    position: fixed;
    inset: auto 0% 0% auto;
    box-shadow: 0 1px 2px #0003;
}

.page-heading {
    text-align: center;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    border-radius: 40px;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
}

.page-heading {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-heading.bottom {
    padding-top: 60px;
}

.page-heading {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
}


/* Preloader full screen */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a5233;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Logo animation */
.loader-logo {
    width: 120px;
    opacity: 0;
    animation: fadeInOut 2s ease-in-out forwards;
}

/* Fade-in-out effect */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.05);
    }
}



/* Top to buttom button */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #987A5C;
  color: white;
  border: none;
  padding: 15px 15px;
  border-radius: 20%;
  font-size: 18px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}

#scrollTopBtn:hover {
  background-color: #47301F;
}


@media (max-width : 1024px) {

    .how-i-tworks .page-heading .inner-heading,
    .membership-section .flex-dir .left-section {
        margin-left: 0px;
    }
}

/* Begin Your Personalised Journey To Precision Wellness */
.hero-section {
  text-align: center;
  padding: 60px;
  margin: auto;
  width: 100%;
  border-top: 2px solid;
  border-color: #47301F;
  max-width: 95%;
}

.headline {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 50px;
  max-width: 50%;
  margin: auto;
}

.reserve-button {
  background-color: #D7B547;
  color: #000000;
  padding: 12px 30px;
  margin: 40px;
  font-family: "Lato" , sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-button:hover {
  background-color: #b69a37;
}

/* Responsive Design for Begin...Precision Wellness*/
@media (max-width: 768px) {
  .headline {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .reserve-button {
    padding: 10px 25px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
    .footer-last-line {
        text-align: left !important;
    }
    .headline {
        font-size: 1.4rem;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .hero-section {
      text-align: center;
      padding: 30px;
      margin: auto;
      width: 100%;
    }

    .reserve-button {
        width: 100%;
        margin: auto;
        padding: 8px 20px;
        font-size: 0.9rem;
    }

    b,
    strong {
        font-weight: bold;
    }
}